<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Match Prediction - Home</title>
  <link rel="stylesheet" href="stylesHome.css">
  <script src="script.js" defer></script>
</head>
<body>
  <div id="homePage" class="page">
    <div class="animated-background">
      <h1> Premier League Matches Prediction <h1>
      <div class="image-container">
        <img class="homeImg" src="images/logo.jpg" alt="Homepage Image">
      </div>
      <button onclick="navigateToSselect()">Start Prediction</button>
    </div>
  </div>
</body>
</html>
